html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 95vw;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  visibility: visible;
  font-size: 1rem;
}

.container > div {
  left: 0;
  right: 0;
  top: 20vh;
}

.container p {
  position: absolute;
  line-height: 1.4; /* Spacing for readability */
  font-size: 1.5rem;
  text-align: center;
  width: 95%;
  font-family: 'Poppins', sans-serif;
  padding: 1vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

p.when{
  color: #8a7274;
  font-size: 0.9rem;
  text-align: center;
} 

p.PS {
  font-weight: bold;
  color: #0077b6;
  text-align: center;
  font-size: 1.5rem;
} 
