html {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.container {
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  text-align: center;
  visibility: visible;
  width: 100vw;
  color: #fff;
  font-size: 1rem;
}

.container > div {
  left: 0;
  right: 0;
  top: 20vh;
}

.container p {
  line-height: 1.1; /* Spacing for readability */
  font-size: 1.5rem;
  left: 0;
  right: 0;
  font-family: 'Poppins', sans-serif;
  padding: 0.5rem
}

/* .container p:first-of-type{
  color: #8a7274;
  font-size: 0.9rem;
  text-align: center;
} */

/* .container p:last-of-type {
  font-weight: bold;
  color: #0077b6;
  text-align: center;
  font-size: 1.5rem;
} */
