html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

header {
  position: fixed;  /* Keeps it in place even when scrolling */
  top: 0;           /* Locks it to the top */
  left: 50%;        /* Moves it to the center */
  transform: translateX(-50%); /* Centers it exactly */
  width: auto;      /* Adjusts width based on content */
  text-align: center;
  background-color: #fff; /* Optional: Add background color */
  padding: 10px 20px; /* Optional: Adjust spacing */
  z-index: 1000; /* Ensures it stays above other content */
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 90vw;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  visibility: visible;
  font-size: 1rem;
}

.container > div {
  left: 0;
  right: 0;
  top: 20vh;
}

.container p {
  position: absolute;
  line-height: 1.4; /* Spacing for readability */
  font-size: 1.5rem;
  text-align: center;
  width: 90%;
  font-family: 'FreeMono', monospace;
  padding: 1vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

p.PS {
  font-weight: bold;
  color: #0077b6;
  text-align: center;
  font-size: 1rem;
} 
